body {
	background-color: #eeeeee;
	font-size: 12px;
}
h3 {
	color: #fe7601;
}
h1,
.h1 {
	font-size: 31px;
}
h2,
.h2 {
	font-size: 22px;
}
h3,
.h3 {
	font-size: 18px;
}
h3 small.when,
.h3 small.when {
	padding-left: 12px;
}
h4,
.h4 {
	font-size: 15px;
}
h5,
.h5 {
	font-size: 12px;
}
h6,
.h6 {
	font-size: 11px;
}
.list-inline > li {
	border: 1px solid #eeeeee;
	border-radius: 5px;
}
.list-inline > li .sparator {
	border-left: 1px dotted #eeeeee;
	padding-left: 5px;
}
.element {
	background-color: #ffffff;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	border-radius: 5px;
}
@media print {
	.skill .dl-horizontal dt {
		float: left;
		width: 200px;
		clear: left;
		text-align: right;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		margin-right: 5px;
	}
	.skill .dl-horizontal dt:after {
		content: ':';
	}
}
.skill dt {
	font-weight: normal;
}
.star-bar.sb-0:before {
	content: "\f006\f006\f006\f006\f006";
}
.star-bar.sb-0-h:before {
	content: "\f123\f006\f006\f006\f006";
}
.star-bar.sb-1:before {
	content: "\f005\f006\f006\f006\f006";
}
.star-bar.sb-1-h:before {
	content: "\f005\f123\f006\f006\f006";
}
.star-bar.sb-2:before {
	content: "\f005\f005\f006\f006\f006";
}
.star-bar.sb-2-h:before {
	content: "\f005\f005\f123\f006\f006";
}
.star-bar.sb-3:before {
	content: "\f005\f005\f005\f006\f006";
}
.star-bar.sb-3-h:before {
	content: "\f005\f005\f005\f123\f006";
}
.star-bar.sb-4:before {
	content: "\f005\f005\f005\f005\f006";
}
.star-bar.sb-4-h:before {
	content: "\f005\f005\f005\f005\f123";
}
.star-bar.sb-5:before {
	content: "\f005\f005\f005\f005\f005";
}
