body.home{
    background: url(/images/bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

header{
    color: #eeeeee;
    margin-left: 20px;
    margin-bottom: 35px;
}

header h1{
    color: #ffffff;
}

header small{
    color: #cccccc;
    font-style: italic;
}

header a:hover{
    text-decoration: none;
}

.home-container .jumbotron {
    color: #ffffff;
    background: rgba(0,0,0,0.9);
    transition: background-color 0.5s ease;
    text-align: center;
}

.home-container .jumbotron h1 a{
    color: #ffffff;
    text-decoration: none;
}

.home-container .jumbotron:hover h1 a{
   color: #fe7601;
}

.home-container:hover .jumbotron:hover{
    background: rgba(0,0,0,0.9);
    text-shadow: initial ;
}

.home-container:hover .jumbotron {
    background: rgba(0,0,0,0.6);
    color:transparent;
    text-shadow:0 0 8px #ffffff;
    transition: all 0.2s ease-in;
}

footer.site-footer{
    border : none;
}
.site-footer .footer-content{
    color: #eeeeee;
}
